.kakaoMap {
  width: 90vw;
  margin: 50px auto;
}
.kakaoMap .tabMenu {
  position: relative;
  padding: 50px;
}
.kakaoMap .tabMenu li h2 {
  width: 50%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3em;
  transition: 0.4s;
}
.kakaoMap .tabMenu li .tabBtn2 {
  left: 50%;
}
.kakaoMap .tabMenu li.active h2 {
  border-bottom: 3px solid #000;
}
.kakaoMap .tabMenu li .kakaoBox {
  background-color: #ddd;
  display: none;
}
.kakaoMap .tabMenu li .kakaoBox #map {
  height: 400px;
}
.kakaoMap .tabMenu li.active .kakaoBox {
  display: block;
}