.productServiceUl {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  li {
    width: 200px;

    a {
      font-size: 0.9em;
    }
    &:hover a {
      color: #b9af9f;
    }
  }
}
