.footer {
  height: 20vh;
  padding: 6vh 0;
  display: grid;
  grid-template: repeat(2, 8vh) / repeat(3, 30% 50% 20%);
  img {
    margin-left: 50%;
    display: block;
    height: 5vh;
  }
}
.info {
  display: flex;
  grid-row: 1/2;
  grid-column: 2/3;
  li {
    margin-right: 10px;
  }
}
.address {
  color: rgb(155, 155, 155);
  line-height: 1.5;
  margin: 0;

  grid-row: 2/3;
  grid-column: 2/3;
  address {
    font-style: normal;
  }
}
.sns {
  display: flex;

  grid-column: 3/4;
  a {
    width: 25px;
    margin-right: 1vw;
  }
  .facebook svg path {
    fill: #3b5998;
  }
  .youtube svg path {
    fill: #e62117;
  }
  .twitter svg path {
    fill: #00acee;
  }
  .line svg path {
    fill: #00b900;
  }
}
