.HeaderIconNavStyle {
  border-top: 1px solid rgb(232, 232, 232);
  z-index: 999;
  width: 100%;
  height: 55vh;
  background-color: #fff;
  position: absolute;
  top: 110px;
  left: 0;
  padding: 1vh 0;
  display: flex;
  justify-content: center;
  color: rgb(94, 94, 94);
}
.HeaderIconNavStyle ul {
  margin: 2vw;
}
.HeaderIconNavStyle ul .mainTitle {
  font-weight: 600;
  font-size: 1.1em;
  width: 10vw;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.HeaderIconNavStyle ul .mainTitle a {
  font-size: 1em;
  font-weight: 500;
}
.HeaderIconNavStyle ul .mainTitle:hover a {
  color: rgb(94, 94, 94);
}
.HeaderIconNavStyle ul li a {
  font-size: 0.9em;
  font-weight: 400;
  padding: 5px 0;
}
.HeaderIconNavStyle ul li:hover a {
  color: #b9af9f;
}
.HeaderIconNavStyle ul .bold {
  font-weight: 500;
  font-size: 1em;
  padding: 10px 0;
  list-style: none;
}
.HeaderIconNavStyle ul .bold a {
  font-size: 1em;
  font-weight: 500;
}
.HeaderIconNavStyle ul .bold:hover a {
  color: rgb(94, 94, 94);
}
.HeaderIconNavStyle svg {
  width: 8px;
  margin-left: 10px;
}