.BgBeige {
  width: 100%;
  height: 50vh;
  background-color: #fbfaf6;
  position: absolute;
  top: 105vh;
  left: 0;
}
.section2 {
  width: 70%;
  height: 50vh;
  margin: 0 auto;
  margin-bottom: 170px;
  position: relative;
  z-index: 9;
  .bg-image {
    background: url(../assets/images/sec2bg.jpg) no-repeat 50% / cover;
    filter: grayscale(60%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  section {
    background-color: #fff;
    width: 65%;
    height: 80%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    .txt {
      position: absolute;
      top: 10vh;
      left: 5vw;
      color: rgb(68, 68, 68);
      line-height: 1.2;
      font-weight: 400;
      .section2Dots {
        background: url(../assets/images/bg_dot_gray.png) no-repeat 50% /
          contain;
        width: 200px;
        height: 200px;
        position: absolute;
        top: -11vh;
        left: -6vw;
      }
      h2 {
        font-size: 2.2em;
        margin-bottom: 20px;
        strong {
          font-weight: 600;
        }
      }
      p {
        font-size: 1.1em;
        font-weight: 400;
      }
    }
    .btn {
      display: flex;
      position: absolute;
      left: 5vw;
      bottom: 6vh;
      a {
        color: #fff;
        width: 120px;
        height: 40px;
        line-height: 40px;
        border-radius: 7px;
        background-color: #a0937d;
        text-align: center;
        margin-right: 20px;
        &:last-of-type {
          background-color: #3a6351;
        }
      }
    }
  }
}
